body {
	margin: 0px;
	font-family: Arial;
	background: url('/img/bg.png');
	overflow: hidden;
}

h2 {
	margin: 0.2em 0;
}

.panel {
	width: 100vw;
	height: 100vh;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	border: solid 1px gray;

}

.ctr {
	padding: 0.5em 1em;
	background-color: white;
	border-radius: 0.1em;
}

.f-ctrl {
	width: 100%;
	padding: 0.5em 1em;
	margin-bottom: 0.5em;
}

* {
	box-sizing: border-box;
}

.success {
	background-color: lightgreen;
}

div[hidden] {
	display: none;
}

.btm {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ctrl {
}

.ctrl td:not(:empty) {
	width: 60px;
	height: 60px;
	color: white;
	z-index:  1000;
	background-color: rgba( 255, 255, 255, 0.25);
}